* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #e3e3e3;
}

.content {
  width: 500px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.content .header {
  height: 60px;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
}

.content .header i:last-child {
  padding-left: 250px;
}

p {
  color:#888888;
  font-size: 12px;
}

i, img, p, h5 {
  cursor: pointer;
}


img {
  width: 60px;
  height: 62px;
}
